<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <queries>
    <intent>
      <action android:name="android.intent.action.SENDTO" />
      <data android:scheme="mailto" />
    </intent>
  </queries>

  <!--
    Note: android:usesCleartextTraffic is added by Capacitor during build:

    https://github.com/ionic-team/capacitor/blob/f8264ccae1f2fec553521bc62d767c4909ea6d79/cli/src/cordova.ts#L1080-L1089

    It will be set to true when CAPACITOR_ENABLE_DEV_SERVER === "true" (only set in dev builds) to allow React Fast Refresh over the network.
    -->
  <application
    android:name=".GershadApplication"
    android:allowBackup="false"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
  >
    <!-- Removing lunch activity from main manifest, since it's based on different build flavors  -->
    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true"
    >
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths"
      />
    </provider>

    <!-- TODO: Move this to an environment variable? -->
    <meta-data
      android:name="com.transistorsoft.locationmanager.license"
      android:value="${CAPACITOR_BACKGROUND_GEOLOCATION_LICENSE_KEY}"
    />
  </application>

  <!-- Permissions -->
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission
    android:name="android.permission.ACCESS_BACKGROUND_LOCATION"
  />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
</manifest>
